<div class="container">
  <div class="new-title my-3">
    <h2>New Cocktail</h2>
    <%= simple_form_for [@cocktail] do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <div class="submit-buttons mx-1 my-2">
        <%= f.submit "Add New Cocktail", class: "btn btn-primary mx-1" %>
      <% end %>
      <%= link_to "Back to list", cocktails_path, class: "btn btn-primary mx-1" %>
    </div>
  </div>
</div>