<div class="container">
  <h1><%= @cocktail.name %></h1>
  <div class="dose_name">
    <% @cocktail.doses.each do |dose| %>
      <p><%= dose.description %> </p>
      <p> <%= dose.ingredient.name %> </p>
      <% end %>
  <%= link_to "Add an Ingredient", new_cocktail_dose_path(@cocktail) %>
  <%= link_to "Back to list", cocktails_path %>
  </div>
</div>
