<div class="container">
  <div class="title my-3">
    <h1><%= @cocktail.name %></h1>
  </div>
  <div class="dose_name">
    <% @cocktail.doses.each do |dose| %>
      <p><%= dose.description %> </p>
      <p> <%= dose.ingredient.name %> </p>
      <% end %>
  <%= link_to "Add an Ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
  <%= link_to "Back to list", cocktails_path, class: "btn btn-primary my-2 mx-1" %>
  </div>
</div>
