<div class="container">
<h1>New Doses for <%= @cocktail.name %></h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, collection: Ingredient.order(:name) %>
    <%= f.input :description %>
    <%= f.submit "Add Ingredients", class: "btn btn-primary" %>
  <% end %>
</div>
